
    <body>
        <div>
            <img class="logo" src="~/img/NuevoLogo.png" />
        </div>
        <h1 class="text-center">Categorias de reportes</h1>
        <div class="card-columns">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">

                <div class="card-header text-center"><strong>SOS</strong></div>
                <div class="card-body">
                    <h5 class="card-title text-center"></h5>
                    <p class="card-text text-center">
                        Reporte sobre planimetría de espacios
                    </p>
                </div>
            </div>
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header text-center"><strong>SOE</strong></div>
                <div class="card-body">
                    <h5 class="card-title text-center"></h5>
                    <p class="card-text text-center">
                        Reporte sobre exhibiciones
                    </p>
                </div>
            </div>
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header text-center"><strong>IMPULSADORAS</strong></div>
                <div class="card-body">
                    <h5 class="card-title text-center"></h5>
                    <p class="card-text">

                    </p>
                </div>
            </div>
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header text-center"><strong>PRECIOS</strong></div>
                <div class="card-body">
                    <h5 class="card-title text-center"></h5>
                    <p class="card-text text-center">
                        Precios Colgate y competencia
                    </p>
                </div>
            </div>
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header text-center"><strong>Ofertas y Promociones</strong></div>
                <div class="card-body">
                    <h5 class="card-title text-center"></h5>
                    <p class="card-text text-center">
                        Packs de ofertas
                    </p>
                </div>
            </div>
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header text-center"><strong>Competitive Alert</strong></div>
                <div class="card-body">
                    <h5 class="card-title text-center"></h5>
                    <p class="card-text">

                    </p>
                </div>
            </div>
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header text-center"><strong>5P´s</strong></div>
                <div class="card-body">
                    <h5 class="card-title text-center">
                        
                    </h5>
                    <p class="card-text text-center">
                        Reportes de M&P, Market Stall, Drugstores y Farmacias.
                    </p>
                </div>
            </div>
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">             
                <div class="card-header text-center"><strong>Scoredcard</strong></div>
                <div class="card-body">
                    <h5 class="card-title text-center"></h5>
                    <p class="card-text text-center">
                        Dinámicas Comerciales
                    </p>
                </div>             
                <p>
                    <a class="btn btn-warning" asp-action="DinamicasComerciales" asp-controller="DinamicasComerciales">
                        Entrar
                    </a>
                </p>              
            </div>
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header text-center"><strong>Marcaje de Tarjeta</strong></div>
                <div class="card-body">
                    <h5 class="card-title text-center">
                    
                    </h5>
                    <p class="card-text text-center">
                        Entrada y salida de colaboradores en tiendas
                    </p>
                </div>
            </div>
        </div>

        <footer class="border-top footer text-muted bg-dark">
            <div class="footer-copyright text-center py-3">
                <img src="~/img/Logo.png" />
                <style>
                    #date {
                        color: #FFFFFF;
                    }
                </style>
                <strong id="date">&copy; @DateTime.Now.ToString("dd-MM-yyyy")</strong>
                <a href="https://www.sourcingcorpcontrol.com/" target="_blank">https://www.sourcingcorpcontrol.com/</a>
                <strong id="texto">Ventas:</strong>
                <a href="mailto:paola.arocha@sourcing-corp.com">paola.arocha@sourcing-corp.com</a><br />
                <style>
                    #texto {
                        color: #FFFFFF;
                    }
                </style>
                <p id="texto">
                    Sourcing Corp
                    || Todos los derechos reservados
                </p>
            </div>
        </footer>
    </body>

