
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Escoge tu tienda</h1>


<div class="container">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-body text-center">
            <p class="card-text">
                <strong>Precios Walmart</strong>
            </p>
        </div>
        <a class="btn btn-warning" asp-action="Index" asp-controller="PreciosTiendas">
            Entrar
        </a>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">

        <div class="card-body text-center">
            <p class="card-text">
                <strong>AC SUPER</strong>
            </p>
        </div>
        <a class="btn btn-warning" asp-action="Index" asp-controller="DinamicaSuper">
            Entrar
        </a>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">

        <div class="card-body text-center">
            <p class="card-text">
                <strong>AC BODEGAS</strong>
            </p>
        </div>
        <a class="btn btn-warning" asp-action="Index" asp-controller="DinamicaBodegas">
            Entrar
        </a>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">

        <div class="card-body text-center">
            <p class="card-text">
                <strong>AC DESCUENTOS</strong>
            </p>
        </div>
        <a class="btn btn-warning" asp-action="Index" asp-controller="DinamicaDescuentos">
            Entrar
        </a>
    </div>


