@{
    ViewData["Title"] = "DinamicasComerciales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Escoge tu Dinámica Comercial</h1>
<br />
@*<div>
    <img class="imgPastas" src="~/img/colgate.jpg" />
</div>*@
<div class="container">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-body text-center">
            <p class="card-text">
                Dinámica Comercial Walmart
            </p>
        </div>
        <a class="btn btn-warning" asp-action="Index" asp-controller="DinamicaWalmart">
            Entrar
        </a>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">

        <div class="card-body text-center">
            <p class="card-text">
                SUPER
            </p>
        </div>
        <a class="btn btn-warning" asp-action="" asp-controller="">
            Entrar
        </a>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">

        <div class="card-body text-center">
            <p class="card-text">
                BODEGAS
            </p>
        </div>
        <a class="btn btn-warning" asp-action="" asp-controller="">
            Entrar
        </a>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">

        <div class="card-body text-center">
            <p class="card-text">
                DESCUENTOS
            </p>
        </div>
        <a class="btn btn-warning" asp-action="" asp-controller="">
            Entrar
        </a>
    </div>
</div>

